[submodule "layers/meta-96boards"]
	path = layers/meta-96boards
	url = https://github.com/hooddanielc/meta-96boards.git
[submodule "layers/meta-intel-realsense.git"]
	path = layers/meta-intel-realsense
	url = https://github.com/hooddanielc/meta-intel-realsense.git
[submodule "layers/meta-musicians"]
	path = layers/meta-musicians
	url = https://github.com/hooddanielc/meta-musicians.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/hooddanielc/meta-openembedded
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/hooddanielc/meta-qt5.git
[submodule "tools/poky"]
	path = tools/poky
	url = https://github.com/hooddanielc/poky.git
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://github.com/hooddanielc/meta-raspberrypi
	branch = gatesgarth
